:root {
    --slate-900: #1f314f;
    --slate-500: #68778d;
    --slate-300: #d5e1ef;
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --bg-white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--slate-900);
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-code__wrapper {
    width: 320px;
    padding: var(--spacing-200);
    padding-bottom: var(--spacing-500);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.qr-code__image {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.qr-code__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qr-code__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding-inline: var(--spacing-200);
}

.qr-code__content-text {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
}

.qr-code__content-comment {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2;
    color: var(--slate-500);
}
